/* Call to Action Section */
.call-to-action {
  background-image: url("/assets/cta-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.call-to-action {
  @apply py-10;
}

.call-to-action__container {
  @apply container mx-auto flex flex-col justify-center items-center gap-3;
}

.call-to-action__title {
  @apply text-[32px] md:text-[40px] font-semibold text-center;
}

.call-to-action__subtitle {
  @apply text-[26px] md:text-[32px] font-semibold text-center;
}

.call-to-action__button {
  @apply bg-[var(--color-highlight)];
}
